//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  padding: 0;
  margin: 0;
  :not(.material-icons) {
    font-family: "Roboto", sans-serif !important;
  }
}

ul {
  list-style: none;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    border: 1px solid grey;
    margin-bottom: 2rem;
    span {
      text-align: center;
      padding: 10px 0px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.categoryOption {
  display: flex;
}

.movieCloud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin: 10px 15px;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .closeModal {
    width: 100%;
    text-align: end;
  }
  > div {
    position: fixed;
    width: 95%;
    height: 95%;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;

    h1 {
      width: 100%;
    }

    .img {
      width: 40%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .facts {
      flex: 1;
    }

    .reviews {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 100;
        font-size: 8px;
      }

      .dice {
        border: 1px solid black;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 14px;
      }
    }
  }

  .description {
    width: 100%;

    display: flex;
    flex-direction: column;
    .toggleDescription {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    > p:not(:first-of-type) {
      font-weight: 100;
    }
  }

  .shows {
    display: flex;
    flex-wrap: wrap;
    h5 {
      width: 100%;
    }
    a {
      width: 30%;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
    }
  }
}
